<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <header>
            <div class="header-container">
                <nav>
                    <!-- Include logout link if user is logged in -->
                    <% if (username) { %>
                        <a href="/logout" class="logout-link">Logout</a>
                    <% } else { %>
                        <a href="/login" class="login-link">Login</a>
                    <% } %>
                </nav>
                <!-- Display welcome message centered -->
                <% if (username) { %>
                    <p class="welcome-message">Welcome <%= username %></p>
                <% } %>
            </div>
        </header>
    </header>
    <main class="dashboard">
        <div class="info-panels">
            <div class="panel" id="weatherPanel">
                <h3>Current Weather</h3>
                <div id="cityName"></div>
                <div id="temperature"></div>
                <div id="condition"></div>
                <img id="weatherIcon" src="" alt="Weather Icon" style="display:none;">
            </div>   
            <div class="panel">
                <h3>Forecast</h3>
                <div id="weatherForecast"></div>
            </div>
            <div class="panel">
                <h3>Weather Search</h3>
                <input type="text" id="cityinput" placeholder="Enter City Name">
                <button onclick="submitCityName('cityinput','weatherDisplay')">Get Weather</button>
                <div id="weatherDisplay"></div>
            </div>
            <!-- Row 2 -->
            <div class="panel">
                <a href="/forecast" class="panel-link">Forecast Search</a>
            </div>
            <div class="panel">
                <a href="/history" class="panel-link">Historical Data</a>
            </div>
            <div class="panel">
                <a href="/map" class="panel-link">Map</a>
            </div>
        </div>
    </main>

    <script src="/weathertest.js"></script>
    <script src="/getCurrentLocation.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            requestUserLocation();
        });
    </script>
        
</body>  
</html>
