body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #216DFF;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-buttons {
    margin-bottom: 20px;
}
.filter-button {
    background-color: #216DFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.filter-button:last-child {
    margin-right: 0;
}
.search-bar {
    margin-bottom: 20px;
}
.search-input {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.graphs-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.graph-box {
    width: calc(33.33% - 10px);
    height: 200px;
    background-color: #fff;
    border: 3px solid #216DFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}